body {
    background-color: aqua;
}

.timer button {
    width: 100px;
    background-color: rgb(65, 65, 65);
    color: orange;
    border-radius: 6px;
}

.timer p {
    color: green;
    border-width: 3px;
    border-color: rgba(0, 0, 0, 0.459);
    border-radius: 5px;
    border-style: solid;
    padding: 10px;
}

button {
    width: 30%;
    background-color: yellow;
    color:rgb(32, 32, 32);
    border-radius: 5px;
}

.timer {
    text-align: center;
    width: 10%;
    float: left;
}

.clearfix {
    clear: both;
}

.modal {
    position: fixed;
    z-index: 1;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    display: none;
}

.modal-content {
    margin: auto;
    display: block;
    width: 80%;
    text-align: center;
    padding: 15px;
    border-color: black;
    border-width: 10px;
    border-style: solid;
    border-radius: 10px;
    background-color: rgb(109, 48, 128)
}